{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/form.css'%}">
    <title>Sign Up</title>
</head>

<body>
    <div class="login-box">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            {% csrf_token %}
            <div class="user-box">
                <input type="voc" placeholder="Vendor/Consumer" name="voc" required="">
                <label>Vendor/Consumer</label>
            </div>
            <div class="user-box">
                <input type="email" placeholder="Email Id" name="email" required="">
                <label>Email Id</label>
            </div>
            <div class="user-box">
                <input type="name" placeholder="Name" name="name" required="">
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="password" placeholder="Password" name="password" required="">
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" placeholder="Confirm Password" name="conpass" required="">
                <label>Confirm Password</label>
            </div>
            <div class="user-box">
                <input type="tel" placeholder="Phone Number" pattern="[0-9]{10}" name="phoneno" required="">
                <label>Phone Number</label>
            </div>
            <div class="user-box">
                <input type="address" placeholder="Address" cols="30" rows="4" name="address" required="">
                <label>Address</label>
            </div>
            <!--<a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Submit
            </a>-->
            <div class="user-box">
                <input type="submit" placeholder="Submit" name="" required="">
            </div>
        </form>
    </div>
</body>

</html>